*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--open-sans);
    font-size: 20px;
}

h1{
    font-size: 40px;
}

:root{
    --open-sans: 'Open sans', sans-serif;
}

body{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
}

/*Mis Proyectos*/
.contenedor_proyectos{
    width: 100%;
   /* text-align: center;*/
}
.mis_proyectos{
    text-align: center;
}

/*Contacto*/
.contenedor_contacto{
    width: 90%;
}

.formulario_contacto{
    width: 100%;
    display: flex;
}

.formulario_contacto textarea,.formulario_contacto input[type="text"]{
    font-size: 0.8rem;
    font-weight: 500;
    border: 0.05rem #808080 solid;
    background-color: #fff;
    padding-left: 0.8rem;
    line-height: 1.188rem;
    border-radius: 0.25rem;
}

.formulario_contacto textarea{
    padding-top: 0.8rem;
    resize: vertical;
}


input[type="submit"]{
    border: 0.05rem solid #000000;
    border-radius: 6.25rem;
    background-color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
input[type="submit"]:hover{
    background-color: #000000;
    color:#FFFFFF;
    cursor:pointer;
}
/*Index*/

.contenedor_index{
    position: absolute;
    width: 100%;
    height: 31.5rem;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin: 0;

}

.texto_index{
    position: absolute;
    top:3.375rem;
}

/*MOBILE*/
@media screen and (max-width:375px){
    body{
        overflow: scroll;
    }
}
@media screen and (max-width:375px),
        screen and (max-height:1484px){
    body{
        max-width: 375px;
        max-height: 1484px;
    } 
/*Footer*/
    .footer_mobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 4.15rem;
        background: rgba(249, 249, 249, 0.94);
        /* tab bar / light & dark */
        box-shadow: inset 0px 0.5px 0px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(13.5914px);
        border-top: 0.025rem solid #d2d2d8;
        justify-content: space-between;

    }

    .iconos{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        padding: 0.50rem 0.50rem 0rem 0.50rem;
    }

    .home{
        text-align: center;
        padding-bottom: 0.2rem;
    }

    

    .inicio, .miTrabajo, .sobreMi, .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:0.25rem
    }

    .inicio p, .miTrabajo p, .sobreMi p, .contacto p{
        font-size: 0.5rem;
        font-weight: 600;
        line-height: 0.6rem;
        letter-spacing: 0.008rem;
        color: #8E8E93;

    }

    .inicio img[src="css/imagenes/icon_index.png"]{
        width: 1rem;
        height: .85rem;
    }

    .miTrabajo img[src="css/imagenes/icon_portfolio.png"]{
        width: 0.934rem;
        height: 0.96rem;
    }

    .sobreMi img[src="css/imagenes/icon_sobreMi.png"]{
        width: 1.2rem;
        height: 1.2rem;
    }

    .contacto img[src="css/imagenes/icon_contacto.png"]{
        width: 1.05rem;
        height: 0.9rem;
    }

   

    /*Mis Proyectos MOBILE*/    

    .contenedor_proyectos{
        position: absolute;
        top: 3.8rem;
    }

    .titulo_proyectos{
        font-weight: 600;
        text-align: center;

    }

    .cuerpo_proyectos{
        position: relative;
        top: 0.25rem;
    }

    .imagenes_proyectos{
        display: flex;
        flex-direction: column;
        gap:1.9rem;
    }
    .texto_bco_pat, .texto_bodas, .texto_glucose{
        display: none;
    
    }
}

@media screen and (max-width:375px)/*,
screen and(max-height:919px)*/{
    body{
        max-width: 375px;
        max-height: 919px;
    }

    .header_desktop, .footer_desktop{
        display: none;
    }

    /*Sobre Mi*/
    .contenedor_sobreMi{
        position: absolute;
        margin: 3.8rem 1rem 0 1rem;

    }

    .titulo_sobreMi{
        position: relative;
        margin-left: -0.2rem;
    }

    .texto_sobreMi{
        margin-top: 0.8rem;
        text-align: justify;
        font-weight: 400;
        line-height: 1.362rem;
    }

    /*MOBILE Contacto*/
    .contenedor_contacto{
        width: 17.15rem;
        height: 41.8rem;
        display: flex;
        margin: 3.8rem 0.8rem 1rem 0.8rem;
        flex-direction: column;
        position: absolute;
    }

    .main_contacto{
        width: 17.15rem;
        height: 11.6rem;
    }

    .p_contacto{
        margin: 0.8rem 0rem;
    }

    .enviar_email{
        font-weight: 400;
    }

    .formulario_contacto{
        display: flex;
        flex-direction: column;
        gap: 1.795rem;
        width: 17.15rem;
        height: 26.4rem;
    }

    .inputs_nomape, .inputs{
        gap: 1.795rem;
        display: flex;
        flex-direction: column;
    }

    .formulario_contacto input, .formulario_contacto textarea{
        width: 100%;

    }

    .formulario_contacto input[type="text"]{
        height: 2.428rem;
    }

    .formulario_contacto textarea{
        height: 7.586rem;
    }
   
    .boton_enviar_contacto{
        height: 1.9rem;
    }
}

@media screen and (max-width:375px)/*,
screen and (max-height:812px)*/{
     /*MOBILE Index*/
    body{
        max-width: 18.75rem;
        max-height: 40.6rem;
    }

    .contenedor_index{
        margin: 0.8rem;
        width: 100%;
        padding: 0;
    }

    .texto_index{
        top:3.8rem;
    }

    .texto_index a[href="portfolio.html"]{
        display: none;
    } 

    .texto_index p{
        margin-top: 0.8rem;
        line-height: 1.35rem;
    }

    .imagenes_index{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10.2rem;
    }

    #ellipse-1{
        width: 6%;
        left: 1.5rem;
        top: 10.35rem;
        border-radius: 0rem;
        position: absolute;
    }

    #ellipse-2{
        width: 2.5%;
        right: 3.2rem;
        top: 25rem;
        border-radius: 0rem;
        position: absolute;
    }

    #ellipse-3{
        width: 18%;
        left: 4.05rem;
        top: 2rem;
        border-radius: 0rem;
        position: relative;
    }

    #ellipse-4{
        display:none;
        width: 18%;
        left: 6.05rem;
        top: 9.25rem;
        border-radius: 0rem;
        position: absolute;
    }

    #foto-lu{
        width: 42%;
        left: 9.7rem;
        top: 3.15rem;
        border-radius: 0rem;
        position: absolute;
    }

    #ellipse-5{
        width: 65%;
        left: 0.2rem;
        top: 11.8rem;
        border-radius: 0rem;
        position: absolute;

    }

    #ellipse-6{
            width: 70%;
            left: 4.5rem;
            top: 10.3rem;
            border-radius: 0rem;
            position: absolute;
            z-index: -1;
    }
     
}

/*DESKTOP*/
/*footer*/
@media (min-width:376px){

    .footer_mobile{
        display: none;
    }

    .footer_desktop{
        height: 4.5rem;
        padding:1.625rem 1.625rem;
        text-align: center;
        color:#fff;
        background-color: #000000;
        width: 100%;
        font-size: 0.8rem;
        }

/*body*/
    body{
        margin-top: 0rem;
        max-width: 80rem;
        max-height: 27rem;
    }



/*header barra de navegación */
    nav{
        position: absolute;
        width: 100%;
        left: 0rem;
        top: 0rem;
    }

    .header_desktop{
        width: 100%;
        list-style-type:none;
        overflow: hidden;
        margin:0;
        padding-top: 2.85rem;
        padding-bottom: 0.4rem;
        height: 4.5rem;
        font-size: 0.9rem;
        display: flex;
        justify-content: space-between;
    }



   .header_enlaces{
    display: flex;
    margin-right: 4.132rem;
   }
  
    .header_enlaces li {
        float:right;
        flex-direction: row;
    }
 
 
    .header_enlaces li a{
        padding: 0.4rem;
        color: #676262;
    }

    a{
        text-decoration: none;
    }

    .header_enlaces li a:hover{
        text-decoration: underline;
        color:#676262;
    }

    .header_enlaces li a:active{
        text-decoration: underline;
        color:black;
    }


    
/*DESKTOP Sobre Mi*/

    .contenedor_sobreMi{
        position: absolute;
        width: 100%;
        padding-left: 12rem;
        padding-right: 12rem;
        top: 7.5rem;
    }

    .titulo_sobreMi{
        text-align: center;
        font-weight: 600;
    }

    br{
        display: none;
    }

    .texto_sobreMi{
        margin-top: 1.6rem;
        line-height: 1.35rem;
        text-align: justify;
    }

/*DESKTOP- Mis Proyectos*/
.contenedor_proyectos{
   /* position: absolute;*/
    position: relative;
    width: 100%;
    height: 100%;
}

.mis_proyectos{
    margin-top: 2.3rem;
}    

.titulo_proyectos{
    position: relative;
    font-weight: 600;
    line-height: 2.524rem;
    text-align: center;
}

.cuerpo_proyectos{
    position: relative;
    height: 1.35rem;
    margin-top: 1rem;
    text-align: center;

}

.imagenes_proyectos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.5rem;
    padding: 0.5rem;
}

.div_img_bodas, .div_img_glucose, .div_img_bco_patagonia{
   /* text-align: justify;*/
    position: relative;
    width: 18rem;
    height: 19rem;
}

.texto_bodas, .texto_glucose, .texto_bco_pat{
    display: inline;
    position: absolute;
    background-color: #317660D4;
    background-position: center;
    background-size: cover;
    width:100%;
    height: 100%;
    padding: 0;
   /* left: 0.07rem;
    bottom: 0.25rem;*/
    color: #fff;
    border-radius: 2%;
    z-index: -1;
}

img[src="css/imagenes/app-bodas.png"], img[src="css/imagenes/glucose-log.png"], img[src="css/imagenes/rediseño-banco-patagonia.png"]{
    display: block;
    margin:auto;
    width: 100%;
    height: 100%;
} 

.p_org_boda_mas,.p_glucose_mas,.p_bco_pat_mas{
    position: absolute;
    left:42.5%;
    top:6.83rem;
    font-size: 5rem;
    font-weight: 100;
}
.p_org_boda, .p_glucose, .p_bco_pat{
    position: absolute;
    left:28%;
    bottom:3.15rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    padding: 0;
}
.p_bco_pat{
    left:10%;
}

img[src="css/imagenes/app-bodas.png"]:hover, img[src="css/imagenes/glucose-log.png"]:hover, img[src="css/imagenes/rediseño-banco-patagonia.png"]:hover{
    transform: scale(0.90);
    opacity: 30%;
    overflow: hidden;
}

/*DESKTOP Contacto*/
    body{
        flex-direction: row;
    }
    .contenedor_contacto{
        position: relative;
        display: flex;
        width: 100%;
        top: 4.5rem;
        margin: 3rem 4rem 3rem 4rem;
        justify-content: space-between;
    }

    .main_contacto{
        width: 19.7rem;
        display: flex;
        flex-direction:column;
        margin-left: 4.75rem;
    }

    .titulo_contacto{
        line-height: 2.7rem;
    }

    .p_contacto{
        margin-top: 1.6rem;
        font-weight: 400;
        padding-right: 0.5rem;
        line-height: 1.362rem;

    }

    .seccion_contacto{
        position: relative;
        width: 27.6rem;
       /* margin-right: 5rem;*/
        display: flex;
        margin: 0;
        height: 19rem;
    }

    .formulario_contacto{
        flex-direction:column;
        width: 100%;
        justify-content: space-around;
        gap:1.875rem;    
    }

    .formulario_contacto input[type="text"]{
        height: 2.4rem;
    }


    .inputs_nomape{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    #nombre, #apellido{
        width: 48%;
    }

    .boton_enviar_contacto{
        font-family: var(--open-sans);
        width: 3.95rem;
        height: 1.9rem;
    }

/*Index-DESKTOP*/

    .contenedor_index{
        margin-top:4.5rem;
        padding:0;
    }

    .texto_index{
        left:8.75rem;
    }

    .imagenes_index{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0.65rem;
    }
 

    #ellipse-1{
        position: absolute;
        width: 3%;
        left: 10.427rem;
        top: 14.5rem;
        border-radius: 0rem;
    }

    #ellipse-2{
        position: absolute;
        width: 0.86%;
        left: 7.977rem;
        top: 20.6rem;
        border-radius: 0rem;
    }


    #ellipse-3{
        position: absolute;
        width: 7.23%;
        left: 15.207rem;
        top: 21.85rem;
        border-radius: 0rem;
    }

    #ellipse-4{
        position: absolute;
        width: 7.23%;
        top: 6.4rem;
        border-radius: 0rem;
    }

    #ellipse-5{
        position: absolute;
        width: 23.45rem;
        left: 23.65rem;
        top:7.2rem;
        border-radius: 0rem;
        /*z-index: -1;-*/

    }

    #ellipse-6{
        position: absolute;
       /* width: 41.5%;*/
        width: 26.6rem;
        left: 33.4rem;
        top:0.85rem;
        border-radius: 0rem;
    }

    #foto-lu{
        width: 22%;
        left:46rem;
        top: 3.5rem;
        border-radius: 0rem;
        position: absolute;
        z-index: 4;
    }

    .texto_index{
        top:3rem;
    }

    .texto_index p{
        margin: 1.6rem 0rem;
        width: 19.1rem;
        height: 2.7rem;
        line-height: 1.362rem;
    }

    .texto_index a[href="portfolio.html"]{
        display: flex;
        border: 0.05rem solid #000000;
        color: #000000;
        border-radius: 5rem;
        height: 1.9rem;
        width: 5.45rem;
        padding: 0.4rem 0.8rem 0.4rem 0.8rem;
        font-size: 0.8rem;
        align-items: center;
        justify-content: center;
    } 
   
}